---
import { Image } from "astro:assets";

import Layout from "../layouts/Layout.astro";
import FixtureList from "../components/FixtureList/FixtureList.astro";

import logo from "../img/ponnistus.svg";
---

<Layout title="Otteluohjelma - Helsingin Ponnistus">
  <main>
    <h1>
      <Image src={logo} alt="Helsingin Ponnistus" /> Helsingin Ponnistus
    </h1>
    <FixtureList />
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 0.5rem;
    width: 800px;
    max-width: calc(100% - 1rem);
    font-size: 16px;
    line-height: 1.6;

    h1 {
      font-size: 1.4em;
      margin: 0;
    }
    h2 {
      font-size: 1.3em;
      margin: 0.75em 0 0.25em;
    }
    h3 {
      font-size: 1.2em;
      margin: 0.75em 0 0.25em;
    }
  }

  img {
    width: 1.2em;
    height: 1.2em;
    margin-right: 0.25em;
    vertical-align: text-top;
  }
</style>
