---
import Layout from "../layouts/Layout.astro";
import FixtureList from "../components/FixtureList/FixtureList.astro";
---

<Layout title="Ottelut - Helsingin Ponnistus">
  <main>
    <FixtureList />
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 16px;
    line-height: 1.6;
  }
</style>
